# .gitignore for dataops_assistent_backend project
.env
__pycache__/
*.pyc
# VS Code settings
.vscode/
# macOS system files
.DS_Store

# Output files
output/

# Data
data/

# Docker volumes
postgres_data/
minio_data/

# Data Loaders
data-loaders/logs/
*.log
