# Airflow requirements
apache-airflow==3.1.0
apache-airflow-providers-standard
apache-airflow-providers-http
apache-airflow-task-sdk
# Add any additional providers you need, e.g.:
# apache-airflow-providers-docker
# apache-airflow-providers-postgres
pendulum>=3.0.0,<4.0.0
